@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffbf00;
    text-align: center;
    margin: 20px 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    font-size: 30px;
}

.header, header {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.footer {
    background-color: #f8f8f8;
    padding: 20px 0px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0px auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    margin-top: 0;
    font-size: 16px;
}

.footer-section p,
.footer-section ul,
.footer-section form {
    font-size: 14px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
}

.footer-section ul li a:hover {
    color: orangered;
}

.footer-section form input[type="email"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.footer-section form button {
    padding: 5px 10px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.footer-section form button:hover {
    background-color: #ff8c00;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        min-width: unset;
        text-align: center;
    }
}

.footer, footer {
    background-color: #ffbf00;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 20px;
    margin: 60px 60px;
}

.footer-bottom {
    margin-bottom: 80px;
}

.footer-section {
    margin: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: medium;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    margin: 5px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: none;
}

.footer-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section input[type="email"], input[type="email"], button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.footer-section input[type="email"], input[type="email"] {
    margin-bottom: 10px;
    width: 200px;
}

.footer-section button, button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.footer-section button:hover, button:hover {
    background-color: #555;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 10px;
}

.navbar-menu li a,
.navbar-menu li a:visited,
.navbar-menu li a:hover,
.info a,
.info a:visited,
a {
    color: orange;
    text-decoration: none;
    font-size: large;
}

.navbar-menu li a:hover,
.info a:hover,
.info a:visited:hover,
a:hover {
    color: orangered;
    text-decoration: none;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    padding: 0 5px;
}

.image-container img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.search-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-overlay input[type="text"] {
    width: 300px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

.product-details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info, .rating {
    display: flex;
    align-items: center;
}

.info .title {
    margin-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    margin-right: 5px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px;
}

.product {
    position: relative;
    width: 25%;
    margin: 20px;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-top: 20px;
}

.info {
    width: 100%;
}

.info, .product-info {
    padding: 10px;
}

.info h3.title, .product-info h1 {
    margin-bottom: 10px;
    font-size: 18px;
}

.info span.price, .price, .rating {
    margin-top: 10px;
    font-size: 18px;
    color: #666;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffbf00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.star {
    width: 20px;
    height: 20px;
    background-color: #ffbf00;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    margin-right: 5px;
}

.product-options h2, h2, h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: orange;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    margin-bottom: 10px;
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.price {
    margin-right: 10px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating span {
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 16px;
}

ul li img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.size-options, .crust-options, .extras, .product-details {
    margin-bottom: 20px;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-image {
    width: 50%;
    margin-left: 30px;
}

.product-info {
    flex: 1;
    padding: 0 20px;
    margin-left: 20px;
}

.rounded-image {
    border-radius: 5%;
    width: 800px;
    height: 800px;
}

.buy-button {
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #ff8c00;
}


.options {
    margin-top: 50px;
}

main {
    text-align: center;
}

footer {
    margin-top: 50px;
}

footer .footer-section {
    margin-bottom: 20px;
}

/* blog start*/

.blog-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.blog-article {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 30%;
    transition: transform 0.3s;
}

.blog-article:hover {
    transform: scale(1.05);
}

.blog-image img {
    width: 100%;
    height: auto;
    display: block;
}

.blog-content {
    padding: 20px;
}

.blog-title {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.blog-title a {
    text-decoration: none;
    color: #333;
}

.blog-title a:hover {
    color: #ff8c00;
}

.blog-meta {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.blog-meta span {
    margin-right: 10px;
}

.blog-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.read-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.read-button:hover {
    background-color: #e67e00;
}


/* blog end */

/* contacts start */

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    width: 1100px;
    margin: 0 auto;
}

.info-item {
    display: flex;
    align-items: center;
    background-color: orange;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.info-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.info-content p {
    margin-left: 10px;
}

.info-content a {
    color: white;
}

.reservation {
    margin-top: 50px;
    text-align: center;
}

.reservation form {
    display: inline-block;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 200%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: darkorange;
}

.image-before-contacts {
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    height: 20vh;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
}

.image-before-contacts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* contacts end */

/* article start */

.articleContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.article-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.article-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.article-meta span {
    font-size: 14px;
    color: #555;
}
.article-text {
    margin-bottom: 20px;
}
.article-text p {
    padding-bottom: 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif
}

.article-text h1{
    color: orange;
    font-weight: 800;
    padding-top: 10px;
}
.article-text h3{
    font-weight: 800;
    padding-top: 20px;
}


.share-section {
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.share-buttons {
    display: flex;
    gap: 10px;
}
.share-buttons a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.share-buttons a:hover {
    background-color: orangered;
}
.comment-form {
    margin-top: 20px;
}
.comment-form input, .comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.comment-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.comment-form button:hover {
    background-color: orangered;
}

/* article end */